# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. Sql
4. Julia
5. JavaScript

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. TensorFlow
3. PyTorch
4. NumPy
5. SciPy

**Data Science Tools**| Data Science Tools |-| Jupyter Notebook | RStudio | Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
cal=(3*4)+5
print(cal)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hrs=(200/60)
print(hrs)

3.3333333333333335

**Objectives:** 
List popular languages for Data Science.
- Python 
- Swift 
- R
- Java
- Scala

## Author
name : Madiha Shaheen